body{
    color: rgb(120, 81, 36);
    background-image: url(https://s.hdnux.com/photos/01/30/03/47/23083487/3/rawImage.jpg);
    background-size: cover;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
